# Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017
MONGODB_PORT=27017 # Used only for development purpose with Docker Compose
MONGODB_DBNAME=ban

# Postgres DB
POSTGRES_URL=localhost
POSTGRES_PORT=5432
POSTGRES_ROOT_USER=postgres
POSTGRES_ROOT_PASSWORD=postgres
POSTGRES_DB=base_adresse_nationale
POSTGRES_BAN_USER=ban_plateforme
POSTGRES_BAN_PASSWORD=ban_plateforme

# Redis
REDIS_URL=redis://127.0.0.1:6379
REDIS_PORT=6379 # Used only for development purpose with Docker Compose

# APIs
# API BAN
BAN_API_URL=https://plateforme.adresse.data.gouv.fr/api
ADMIN_TOKEN=  # Used for legacy routes
BAN_API_AUTHORIZED_TOKENS= # Used for new ban-id api routes
PORT=5000
EXPORT_TO_EXPLOITATION_DB_JOB_DELAY=10000 # Time in ms during which an export job is delayed before being processed 

# API de dépôt
API_DEPOT_URL=https://plateforme.adresse.data.gouv.fr/api-depot

# API ID-Fix
API_IDFIX_URL=https://plateforme.adresse.data.gouv.fr/api-idfix
API_IDFIX_TOKEN=

# Path to data files
# Relative path from the "root" directory for all the following path variables :
FANTOIR_PATH=data/fantoir.sqlite
GAZETTEER_DB_PATH=data/gazetteer.sqlite
MAJIC_PATH=/data/majic.sqlite
CONTOURS_DATA_PATH=data/communes-50m.sqlite
COMMUNES_LOCAUX_ADRESSES_DATA_PATH=data/communes-locaux-adresses.json
CP_PATH=db-migrations/data/cp_group.geojson
DATANOVA_PATH=db-migrations/data/datanova_06.csv

# Others
DEPARTEMENTS= # Comma separated list of departements for dev only
JOB_STATUS_LIMIT_DURATION='90d' # Duration max of job status in database
MAX_CONCURRENT_WORKERS=1
DATAGOUV_API_KEY=
PROXY_URL= # To use only if you are behind a proxy
DISTRICT_TO_SNAPSHOT= # Comma separated list of district to snapshot (used only for dev toolbox)
MATOMO_URL=
MATOMO_SITE_ID=
MATOMO_TOKEN_AUTH=
